body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../教务人员模块_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1355px;
    height:3px;
}

.u0 {
    position:absolute;
    left:0px;
    top:83px;
    width:1355px;
    height:10px;
    
}

.u1_line {
    background-image: url('../教务人员模块_files/u1_line.png');
}

.u1_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:964px;
}

.u1 {
    position:absolute;
    left:205px;
    top:88px;
    width:10px;
    height:964px;
    
}

.u2_normal {
    background-image: url('../教务人员模块_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:52px;
    top:16px;
    width:73px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:73px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:146px;
    top:33px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:296px;
    top:28px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_text_sketch {
    font-family: 'Applied Font';
}

.u8_selected {
    background-image: url('../教务人员模块_files/u8_selected.png');
}

.u8_normal {
    background-image: url('../教务人员模块_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u11 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u14 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u17 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u19_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u19_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u20 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u22_selected {
    background-image: url('../教务人员模块_files/u8_selected.png');
}

.u22_normal {
    background-image: url('../教务人员模块_files/u8_normal.png');
}

.u22_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u23 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u25 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u27_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u27_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u28 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u30_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u31 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u33_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u33_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u34 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u36_selected {
    background-image: url('../教务人员模块_files/u8_selected.png');
}

.u36_normal {
    background-image: url('../教务人员模块_files/u8_normal.png');
}

.u36_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u37 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u38_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u39 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u41_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u42 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u44_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u45 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u47_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u48 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u50_selected {
    background-image: url('../教务人员模块_files/u8_selected.png');
}

.u50_normal {
    background-image: url('../教务人员模块_files/u8_normal.png');
}

.u50_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u53 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u55_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u55_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u56 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u58_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u58_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u59 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u61_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u61_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u62 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u64_selected {
    background-image: url('../教务人员模块_files/u8_selected.png');
}

.u64_normal {
    background-image: url('../教务人员模块_files/u8_normal.png');
}

.u64_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u65 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u66_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u67 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u69_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u69_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u70 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u72_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u72_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u73 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u75_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u75_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u76 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u78_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u78_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u79 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u81_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u81_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u82 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u84_selected {
    background-image: url('../教务人员模块_files/u8_selected.png');
}

.u84_normal {
    background-image: url('../教务人员模块_files/u8_normal.png');
}

.u84_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u85 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u86_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u87 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u89_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u89_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u90 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u92_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u92_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u93 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u95_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u95_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u96 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u98_selected {
    background-image: url('../教务人员模块_files/u8_selected.png');
}

.u98_normal {
    background-image: url('../教务人员模块_files/u8_normal.png');
}

.u98_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u99 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u100_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u101 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u103_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u103_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u104 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u106_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u106_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u107 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u109_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u109_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u110 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u112_selected {
    background-image: url('../教务人员模块_files/u8_selected.png');
}

.u112_normal {
    background-image: url('../教务人员模块_files/u8_normal.png');
}

.u112_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u113 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u114_container {
    position:absolute;
    left:22px;
    top:0px;
    width:153px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:159px;
    height:26px;
}

.u115 {
    position:absolute;
    left:3px;
    top:2px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u117_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u117_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u118 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u120_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u120_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u121 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u123_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u123_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u124 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u126_selected {
    background-image: url('../教务人员模块_files/u8_selected.png');
}

.u126_normal {
    background-image: url('../教务人员模块_files/u8_normal.png');
}

.u126_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u127 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u128_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u129 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u131_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u131_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u132 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u134_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u134_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u135 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u137_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u137_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u138 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u140_selected {
    background-image: url('../教务人员模块_files/u8_selected.png');
}

.u140_normal {
    background-image: url('../教务人员模块_files/u8_normal.png');
}

.u140_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u140_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u141 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u142_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u143 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u145_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u145_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u146 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u148_selected {
    background-image: url('../教务人员模块_files/u8_selected.png');
}

.u148_normal {
    background-image: url('../教务人员模块_files/u8_normal.png');
}

.u148_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u149 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u150_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u151 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u153_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u153_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u154 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u155 {
    position:absolute;
    left:19px;
    top:98px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:225px;
    top:103px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

