body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../教务人员模块_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1350px;
    height:3px;
}

.u0 {
    position:absolute;
    left:-33px;
    top:97px;
    width:1350px;
    height:10px;
    
}

.u1_line {
    background-image: url('../教务人员模块_files/u1_line.png');
}

.u1_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:550px;
}

.u1 {
    position:absolute;
    left:241px;
    top:102px;
    width:10px;
    height:550px;
    
}

.u2_normal {
    background-image: url('../教务人员模块_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:24px;
    top:26px;
    width:187px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:264px;
    top:42px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:498px;
    top:38px;
    width:58px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_text_sketch {
    font-family: 'Applied Font';
}

.u6 {
    position:absolute;
    left:32px;
    top:123px;
    width:87px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_selected {
    background-image: url('../教务人员模块_files/u9_selected.png');
}

.u9_normal {
    background-image: url('../教务人员模块_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u10 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u11_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u12 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u15 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u17_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u17_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u18 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u20_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u20_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u21 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u23_selected {
    background-image: url('../教务人员模块_files/u9_selected.png');
}

.u23_normal {
    background-image: url('../教务人员模块_files/u9_normal.png');
}

.u23_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u24 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u26 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u29 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u31_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u31_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u32 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u34_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u34_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u35 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u37_selected {
    background-image: url('../教务人员模块_files/u9_selected.png');
}

.u37_normal {
    background-image: url('../教务人员模块_files/u9_normal.png');
}

.u37_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u38 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u39_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u40 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u42_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u42_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u43 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u45_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u45_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u46 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u48_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u48_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u49 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u51_selected {
    background-image: url('../教务人员模块_files/u9_selected.png');
}

.u51_normal {
    background-image: url('../教务人员模块_files/u9_normal.png');
}

.u51_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u52 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u53_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u54 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u57 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u59_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u59_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u60 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u62_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u62_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u63 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u65_selected {
    background-image: url('../教务人员模块_files/u9_selected.png');
}

.u65_normal {
    background-image: url('../教务人员模块_files/u9_normal.png');
}

.u65_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u66 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u67_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u68 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u70_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u70_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u71 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u73_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u73_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u74 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u76_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u76_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u77 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u79_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u79_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u80 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u82_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u82_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u83 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u85_selected {
    background-image: url('../教务人员模块_files/u9_selected.png');
}

.u85_normal {
    background-image: url('../教务人员模块_files/u9_normal.png');
}

.u85_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u86 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u87_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u88 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u90_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u90_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u91 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u93_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u93_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u94 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u96_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u96_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u97 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u99_selected {
    background-image: url('../教务人员模块_files/u9_selected.png');
}

.u99_normal {
    background-image: url('../教务人员模块_files/u9_normal.png');
}

.u99_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u100 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u101_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u102 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u104_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u104_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u105 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u107_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u107_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u108 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u110_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u110_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u111 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u113_selected {
    background-image: url('../教务人员模块_files/u9_selected.png');
}

.u113_normal {
    background-image: url('../教务人员模块_files/u9_normal.png');
}

.u113_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u114 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u115_container {
    position:absolute;
    left:22px;
    top:0px;
    width:186px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:192px;
    height:26px;
}

.u116 {
    position:absolute;
    left:3px;
    top:0px;
    width:181px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u118_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u118_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u119 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u121_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u121_container {
    position:absolute;
    left:22px;
    top:0px;
    width:38px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u122 {
    position:absolute;
    left:3px;
    top:0px;
    width:33px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u124_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u124_container {
    position:absolute;
    left:22px;
    top:0px;
    width:38px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u125 {
    position:absolute;
    left:3px;
    top:0px;
    width:33px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u127_selected {
    background-image: url('../教务人员模块_files/u9_selected.png');
}

.u127_normal {
    background-image: url('../教务人员模块_files/u9_normal.png');
}

.u127_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u127_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u128 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u129_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u130 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u132_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u132_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u133 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u135_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u135_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u136 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u138_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u138_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u139 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u141_selected {
    background-image: url('../教务人员模块_files/u9_selected.png');
}

.u141_normal {
    background-image: url('../教务人员模块_files/u9_normal.png');
}

.u141_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u142 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u143_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u144 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u146_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u146_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u147 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u149_selected {
    background-image: url('../教务人员模块_files/u9_selected.png');
}

.u149_normal {
    background-image: url('../教务人员模块_files/u9_normal.png');
}

.u149_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u150 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u151_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u152 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u154_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u154_container {
    position:absolute;
    left:22px;
    top:0px;
    width:102px;
    height:20px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u155 {
    position:absolute;
    left:3px;
    top:0px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

#u156 {
    position:absolute;
    left:251px;
    top:107px;
    width:966px;
    height:491px;
    overflow:hidden;
}

#pd11u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:491px;
    
}

#pd10u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:491px;
    
}

#pd9u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:491px;
    
}

#pd8u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:491px;
    
}

#pd7u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:491px;
    
}

#pd6u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:491px;
    
}

#pd5u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:491px;
    
}

#pd4u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:491px;
    
}

#pd3u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:491px;
    
}

.u158 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:85px;
    top:61px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:491px;
    
}

.u170 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:53px;
    top:39px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:491px;
    
}

.u181 {
    position:absolute;
    left:77px;
    top:68px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u181_text_sketch {
    font-family: 'Applied Font';
}

.u182 {
    position:absolute;
    left:77px;
    top:131px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:77px;
    top:176px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u183_text_sketch {
    font-family: 'Applied Font';
}

#pd0u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:491px;
    
}

.u185 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:84px;
    top:81px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:159px;
    top:117px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:198px;
    top:117px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

